.footer {
	height: 380px;
	background-color: black;
	color: white; 
	justify-content: center; 
	display: flex;  
	align-items:center; 
} 

.box__footer {
	height: 300px; 
	width: 75%;
	display: flex; 
	color:#757575; 
	font-family: Arial, Helvetica, sans-serif
}  

.column__box__footer ul {
	list-style-type: none;
}

.column__box__footer {
	width: 25%;
	padding-top: 2%;
}  

.column__box__footer ul li {
	padding-top: 8%;
}