.flex__nav {
    height: 100px; 
    display: flex;
    justify-content: space-between;
}  

.flex__nav__btn {
    margin-right: 4%;
    margin-top: 2%;
} 

.flex__nav__img { 
    margin-left: 4%;
    margin-top: 5px;
} 
